<ion-header class="ion-no-border" mode="md">
  <ion-toolbar>
    <ion-title>
      <small>Select unit to sell</small>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button 
        color="danger"
        (click)="close()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content mode="md">
  <form autocomplete="off"
      #batchForm="ngForm"
      *ngIf="!showNotification"
      (ngSubmit)="saveItemBatch()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list>

            <ion-row>
              <ion-col size="6"
                *ngIf="selectedItem.sell_unit==='Fullpack' || selectedItem.sell_unit==='Fullpack and piece'">
                <ion-item>
                  <ion-checkbox
                  [disabled]="showLoader || selectedItem.sell_unit==='Fullpack'"
                    (ionChange)="unit='Fullpack'; unitSelected('Fullpack')"
                    [checked]="unit==='Fullpack' ? true : false"
                    justify="start">Fullpack</ion-checkbox>
                </ion-item>
              </ion-col>

              <ion-col size="6"
                *ngIf="selectedItem.sell_unit==='Piece' || selectedItem.sell_unit==='Fullpack and piece'">
                <ion-item>
                  <ion-checkbox
                    [disabled]="showLoader || selectedItem.sell_unit==='Piece'"
                    (ionChange)="unit='Piece'; unitSelected('Piece')"
                    [checked]="unit==='Piece' ? true : false"
                    justify="start">Piece</ion-checkbox>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-item class="input-item">
              <ion-input
                  label="Quantity"
                  type="number"
                  placeholder="Enter quantity..."
                  label-placement="floating"
                  [(ngModel)]="quantity"
                  [min]="1"
                  [disabled]="showLoader"
                  name="quantity"
                  (ionInput)="confirmQuantity()"
                  required>
              </ion-input>
            </ion-item>
            <ion-label class="ion-padding animate-flicker"
            *ngIf="quantityError!=''">
              <small color="danger">
                <ion-text color="danger">
                  {{quantityError}}
                </ion-text>
              </small>
            </ion-label>
            <br>
            <br *ngIf="quantityError!=''">

            <ion-item>
              <ion-input
                  label="Selling price"
                  type="number"
                  inputmode="numeric"
                  placeholder="Enter price..."
                  label-placement="floating"
                  [(ngModel)]="price"
                  name="selling_price"
                  [disabled]="showLoader"
                  [min]="selectedItem.min_price"
                  (input)="confirmSellPrice()"
                  required>
              </ion-input>
            </ion-item>
            <ion-label class="ion-padding animate-flicker"
            *ngIf="priceError!=''">
              <small color="danger">
                <ion-text color="danger">
                  {{priceError}}
                </ion-text>
              </small>
            </ion-label>
            <br>

          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row class="ion-padding-start ion-padding-end">
        <ion-col class="ion-no-padding" [style]="showLoader ? 'display: flex; justify-content: center;' : ''">
          <div class="loader ion-padding-top" *ngIf="showLoader"></div>
          <ion-button *ngIf="!showLoader"
                      expand="block"
                      type="submit"
                      color="success"
                      [disabled]="!batchForm.valid || price<buying_price || priceError!='' || quantityError != ''"
                      >Save</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>

  <app-notification *ngIf="showNotification" [message]="notification" [showNotification]="showNotification"></app-notification>

</ion-content>